<div class="wrapper">
<div class="sidebar" data-image="./../../assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
      <div class="logo">
          <a class="simple-text">
              Creative Tim
          </a>
      </div>
      <ul class="nav">
      
              <li class="nav-item active">
                      <a class="nav-link" routerLink="/signcaissier">
                          <em class="nc-icon nc-circle-09"></em>
                          <p>Enregistrer un caissier</p>
                      </a>
                  </li>
                  <li >
                      <a class="nav-link" routerLink="/ajout_partenaire">
                          <em class="nc-icon nc-notes"></em>
                          <p>Ajout Partenaire</p>
                      </a>
                  </li>
                  <li>
                    <a class="nav-link" routerLink="/liste_partenaire">
                        <em class="nc-icon nc-notes"></em>
                        <p>Liste des Partenaires</p>
                    </a>
                </li>
                  <li>
                    <a class="nav-link" routerLink="/auth" (click)="remove()" >
                        <em class="nc-icon nc-notes"></em>
                        <p>Se deconnecter</p>
                    </a>
                </li>
          
      </ul>
  </div> </div>
  <div class="main-panel">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> Ajouter un caissier</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        
                        <ul class="navbar-nav ml-auto">
                            
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/auth">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
  <section class="signup">

    <div class="container">
        <div class="signup-content">
            <form method="POST">
                <h2 class="form-title">Creer un caissier</h2>
                <div class="form-group" >
                    <input [(ngModel)]="loginUserData.username" type="text" class="form-input" name="name" id="name" placeholder="Username"/>
                </div>
                
                <div class="form-group" >
                  <input [(ngModel)]="loginUserData.password" type="text" class="form-input" name="name" id="name" placeholder="Un mot de passe"/>
              </div>
               <div class="form-group">
                  <input [(ngModel)]="loginUserData.nomComplet" type="text" class="form-input" name="name" id="name" placeholder="Nom complet"/>
              </div> 
              <div class="form-group" >
                  <div class="card-panel teal lighten-2">
                      <h4 class="center white-text">
                          ImageFile
                      </h4>
                  </div>
                  <div class="input-field col s12">
                      <input type="file" (change)="handleFileInput($event.target.files)">
                  </div>
                              </div>
    
             
                <div class="form-group">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                </div>
                <div class="form-group">
                  <button (click)="loginUser()" class="form-submit"  id="submit" type="submit" name="submit">Enregistrer</button>                  </div>
            </form>
            <p class="loginhere">
                Have already an account ? <a href="signin.component.html" class="loginhere-link">Login here</a>
            </p>
        </div>
    </div>
    </section>
</div> </div>