<div class="wrapper">
  <div class="sidebar" data-image="/../../../assets/img/sidebar-5.jpg">
      <!--
  Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

  Tip 2: you can also add an image using data-image tag
-->
      <div class="sidebar-wrapper">
          <div class="logo">
              <a class="simple-text">
                  Creative Tim
              </a>
          </div>
          <ul class="nav">
          
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/envoi_argent">
                      <i class="nc-icon nc-circle-09"></i>
                      <p>Envoie Argent</p>
                  </a>
              </li>
              <li >
                  <a class="nav-link" routerLink="/retrait_argent">
                      <i class="nc-icon nc-notes"></i>
                      <p>Retirer Argent</p>
                  </a>
              </li>
              <li>
                <a class="nav-link" routerLink="/auth" (click)="remove()">
                    <em class="nc-icon nc-notes"></em>
                    <p>Se deconnecter</p>
                </a>
            </li>
             
          </ul>
      </div>
      </div>
      <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> Transaction </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        
                        <ul class="navbar-nav ml-auto">
                            
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/auth">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
  <section class="signup">

      <div class="container"> 
          <div class="signup-content">
              <form method="POST" #f="ngForm" >
                  <h2 class="form-title">Envoi Argent</h2>
                  <div class="form-group">
                      <input [(ngModel)]="loginUserData.montantaverser" name="name" id="name" type="number" class="form-input"   placeholder="Le montant du transfert" />
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="loginUserData.adresse" name="name" type="string" class="form-input"   placeholder="Adresse du client" />
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="loginUserData.nomcomplet" type="string" name="name" class="form-input"  placeholder="Nom Complet du client" />
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="loginUserData.pieceid" type="number" name="name" class="form-input"   placeholder="La carte d'identité du client"/>
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="loginUserData.nomcompletReceveur" type="text" name="name" class="form-input"  placeholder="Le nom complet du receveur" />
                  </div>
                  <div class="form-group">
                       <input [(ngModel)]="loginUserData.pieceidReceveur" type="string" name="name" class="form-input"  placeholder="La piece d'identite du receveur" />
                  </div>
                  <div class="form-group">
                      <input [(ngModel)]="loginUserData.telephone" type="string" name="name" class="form-input"  placeholder="Le numero de telephone du receveur" />
                 </div>
                
                  <div class="form-group">
                  <button (click)="loginUser()" class="form-submit"  id="submit" type="submit" name="submit">Envoyer</button>
                  </div>
              </form>
           
          </div>
      </div>
  </section>
  </div> </div>