<body>

  <!-- Header -->
      <header id="header" class="alt">
          <div class="logo"><a href="index.html">Agence Wari <span>by Birame</span></a></div>
          <a href="#menu">Menu</a>
      </header>

  <!-- Nav -->
      <nav id="menu">
          <ul class="links">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/auth">Se Connecter</a></li>
          </ul>
      </nav>

  <!-- Banner -->
      <section id="banner">
          <div class="inner">
              <header>
                      <h1>Wari Agence</h1>
                  <p>Wari offre un éventail de services financiers et commerciaux accessibles de pratiquement partout: paiement, transfert national et international d'argent, recharge de crédit téléphone, transport, service, marketplace, paiement de factures, communications. </p>
              </header>
              <a href="#main" class="button big scrolly">Learn More</a>
          </div>
      </section>

 

  <!-- Footer -->
      <footer id="footer">
          <div class="copyright">
              <ul class="icons">
                  <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
              </ul>
              <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
          </div>
      </footer>

  <!-- Scripts -->
   

</body>